@font-face {
    font-family: VistaSansBold;
    src: url(vistasansbold.woff);
}

* {
  font-family: "VistaSansBold",Verdana,Arial,Helvetica,Sans-Serif;
}

nav > a {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}

nav > a.about {
    float: right;
}

.current {
  color: #cc0000;
}

